<div class="lightbox">
    <div class="modal-header lightbox_header">
        <h4>Progress</h4>
      <button class="lightbox_button" ng-click="lightBox.close()">X</button>
    </div>
    <div class="modal-body lightbox_content">
        <div class="row">
            <div class="col-sm-12">
                <progress-bar start="lightBox.progressbarConfig.start" finish="lightBox.progressbarConfig.finish" duration="lightBox.progressbarConfig.duration"></progress-bar>
            </div>
        </div>
    </div>
</div>